<div class="blue-background">
<%= render "shared/header_banner" %>

<div class="main-content-container">
  <div class="section">
    <div class="hero-content">
      <h1>The easiest way to create a podcast for your business</h1>
      <h2>Focus on your content</h2>
      <a class="button-link" href="/signup">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored create-podcast-button">
          <div>Create Your Podcast</div>
        </button>
      </a>
    </div>
  </div>
  <div class="section gradient-background">
    <h2>Podcast Creation Simplified</h2>
    <div class="horizontal-divider"></div>
    <div class="video-description-contianer">
      <div class="video-container">
          <i class="material-icons side-panel-mic">mic</i>
      </div>
      <div class="description-container">
        <div class="description-text-container">
          <div class="description-section">
            <i class="material-icons">check_circle_outline</i>
            <div><h3>Give us your audio files</h3><div>Upload your raw audio, and we'll walk you through your options</div></div>
          </div>
          <div class="description-section">
            <i class="material-icons">check_circle_outline</i>
            <div><h3>We do the heavy lifting</h3><div>We'll take care of audio mastering, removal of all the 'ahs' and 'ums', audio quality enhancement, stiching intros and outros, and more.</div></div>
          </div>
          <div class="description-section">
            <i class="material-icons">check_circle_outline</i>
            <div><h3>We distribute the finished podcast</h3><div>Approved the final version, then we'll automatically host, publish, and distribute your podcast.</div></div>
          </div>
      </div>
      <a class="button-link" href="/signup">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored get-going-button">
          <div>Get Going</div>
        </button>
      </a>
    </div>
  </div>
  </div>
  <div class="section">
    <div>
      <h1>Our Services</h1>
      <%= render "shared/how_it_works", selectable: false %>
      <a class="button-link" href="/signup">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored create-podcast-button">
          <div>Get Started</div>
        </button>
      </a>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
</div>