<div class="blue-background">
<%= render "shared/header_banner" %>

<div class="main-content-container">
  <div class="section">
    <div class="hero-content">
      <h1>The easiest way to get your podacast professionally edited</h1>
      <h5>Give us your podcast files and we'll handle the rest</h5>
        <%= button_to "Get Started", signup_path,
        :class => "mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored create-podcast-button",
        :method => :get %>
    </div>
  </div>
  <div class="section gradient-background">
    <h2>Podcast creation, simplified</h2>
    <div class="horizontal-divider"></div>
    <div class="video-description-contianer">
      <div class="video-container">
          <i class="material-icons side-panel-mic">mic</i>
      </div>
      <div class="description-container">
        <div class="description-text-container">
          <div class="description-section">
            <i class="material-icons">check_circle_outline</i>
            <div><h3>Give us your podcast files</h3><div>Upload your raw audio, and tell us what you need.</div></div>
          </div>
          <div class="description-section">
            <i class="material-icons">check_circle_outline</i>
            <div><h3>We handle everything</h3><div>We’ll take care of audio mastering, removal of all the 'ahs' and 'ums’,  audio quality enhancement, stitching intros and outros and more.</div></div>
          </div>
          <div class="description-section">
            <i class="material-icons">check_circle_outline</i>
            <div><h3>Publish your finished podcast to your audience</h3><div>Approve the final version, then we'll automatically host, publish and distribute your podcast.</div></div>
          </div>
      </div>
    </div>
  </div>
  </div>
  <div class="section">
    <div>
      <h1>Our Services</h1>
      <%= render "shared/how_it_works", selectable: false %>
      <a class="button-link" href="/signup">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--colored create-podcast-button">
          <div>Get Started</div>
        </button>
      </a>
      </div>
    </div>
  </div>
</div>


<%= render "shared/footer" %>
</div>