<div>
  I 
    <div class="mdl-textfield mdl-js-textfield getmdl-select">
        <input type="text" value="" class="mdl-textfield__input" id="sample2" readonly>
        <label for="sample2" class="mdl-textfield__label">Have/Want</label>
        <ul for="sample2" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
            <li class="mdl-menu__item" data-val="DEU">Have</li>
            <li class="mdl-menu__item" data-val="BLR">Want</li>
        </ul>
    </div>
    a podcast that I typically host with
    <input type="number" min=1 class="mdl-textfield__input" placeholder="2"/>
    people
</div>


<%= render "shared/how_it_works", selectable: true %>
