<div class="blue-background">
<%= render "shared/header_banner" %>
<div class="signup-container check-page">
<h1>You're all set</h1>
<h2>We'll reach out to you shortly to help you with your podcast!</h2>
<i class="material-icons green-check">check</i>
</div>
</div>