<div class="main-header-banner">
    <div class="business-name">
         <div class="logo"><i class="material-icons">whatshot</i></div>
         <div class="title">Peak Podcasting</div>
    </div>
    <div class="link-container">
        <%= link_to "Home", root_path, class: "#{'active' if current_page? root_path}" %> 
        <%= link_to "Sign-up", signup_path, class: "#{'active' if current_page? signup_path}" %>   
    </div>
</div>